* {
	margin: 0;
	padding: 0;
	font-family: arial;
}

li {
	list-style: none;
}

em {
	font-style: normal;
}
input{
	outline: none;
}
.fl {
	float: left;
}

.fr {
	float: right;
}
#container {
	width: 1000px;
	height: 600px;
	background-color: antiquewhite;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 1px #000;
}
#container>nav {
	height: 60px;
	background-color: #C20C0C;
	line-height: 60px;
	position: relative;
}
.tb{
	background: url(img/wyy.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	height: 60px;
	width: 60px;
	left: 10px;
}
.navH3 {
	color: #fff;
	margin-left: 80px;
}
.navInput {
	margin: 15px 0 0 80px;
	border-radius: 25px;
	height: 25px;
	background-color: rgba(96, 96, 96, 0.4);
	outline: none;
	color: #fff;
	padding-left: 8px;
}

.navUl li {
	text-align: right;
	float: right;
	margin-right: 10px;
	display: inline-block;
	width: 80px;
	cursor: pointer;
}
.navUl li:hover{
	color: #00BFaa;
}
.regis{
	position: relative;
}
.regis img{
	position: absolute;
	left: 0;
	top: 15px;
	width: 30px;
	height:30px;
	border-radius: 50%;
}
#main {
	height: 480px;
	width: 100%;
	background-color: aliceblue;
	overflow: auto;
}

.leftAside {
	height: 460px;
	width: 483px;
	background-color: #eee;
}

#singer {
	height: 300px;
	width: 300px;
	margin: 50px auto;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}
#singer img{
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border: 50px solid rgba(0,0,0,0.8);
}
.leftUl {
	margin-left: 100px;
}
.leftUl li {
	float: left;
	margin: 0 10px;
}
.rightAside {
	height: 460px;
	width: 500px;
	background-color: #eee;
}
.rightAside h3{
	margin: 30px 20px 10px 30px;
}
.rightUl li{
	float: left;
	color: #000;
	margin-left: 60px;
}
.rightUl li:nth-child(1){
	margin-left: 30px;
}
.rightUl li:nth-child(3)::after{
	content: "";
	display: block;
	clear: both;
}
.rightUl li em{
	color: #0000ff;
	cursor: pointer;
}
#words {
	position: relative;
	height: 300px;
	margin-top: 60px;
	overflow: auto;
	width: 300px;
	margin-left: 30px;
	padding-right: 130px;
	transition: all 1s linear;
}
#words p{
	line-height: 30px;
}
.main::after{
	content: "";
	display: block;
	clear: both;
}
#community{
	width: 100%;
	background-color: #eee;
	padding-top: 5px;
}
.drive{
	height: 2px;
	width: 800px;
	background-color: rgba(20,20,20,0.2);
	margin-left: 90px;
}
#comBody{
	margin: 0 auto;
	width: 800px;
	background-color: #eee;
	margin-top: 15px;
}
#comBody>p:nth-child(1){
	color: #999;
}
#comBody>p span{
	color: #555;
	font-weight: bold;
	font-size: 1.2em;
}
#comText{
	margin-top: 10px;
	height: 34px;
	width: 99%;
	margin-left: 5px;
	border: 1px solid skyblue;
}
#comText{
	color: #666;
	padding-left: 10px;
	outline: none;
}
.goodCom{
	margin-top: 20px;
	margin-left: 5px;
}
.drive2{
	height: 2px;
	width: 800px;
	background-color: rgba(20,20,20,0.2);
	margin-top: 10px;
}
#comBox{
	position: fixed;
	width: 400px;
	height: 210px;
	left: 50%;
	top: 50%;
	display: none;
	border: 2px solid red;
	transform: translate(-50%,-50%);
}
#comBox>nav{
	background-color: #C10D0C;
	color: #fff;
	height: 28px;
	text-align: center;
}
#comBox>span{
	position: absolute;
	color: #fff;
	font-size: 1.4em;
	right: 10px;
	cursor: pointer;
}
#comBox textarea{
	width: 378px;
	height: 160px;
	outline: none;
	border: none;
	padding: 10px;
}
#comBox>button{
	position: absolute;
	background-color: #C10D0C;
	color: #fff;
	width: 50px;
	height: 30px;
	bottom: 0px;
	left:0px;
	border: none;
	outline: none;
	cursor: pointer;
}
.coms{
	line-height: 22px;
	color: #333;
	width: 100%;
	margin-top: 20px;
	padding: 20px 0;
}
.coms::after{
	content: "";
	display: block;
	clear: both;
}
.comImg{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-right: 20px;
	border: 1px solid gray;
}
.comBox p{
	line-height: 26px;
}
.comBox p em{
	color: #7B68EE;
}
.comBox{
	width: 650px;
	padding: 10px 0 10px 10px;
}
.comColor{
	color: deepskyblue;
	line-height: 26px;
}
footer {
	height: 60px;
	width: 100%;
	background-color: #C10D0C;
}

#footerUl li {
	position: relative;
	float: left;
	cursor: pointer;
	display: inline-block;
	margin-top: 10px;
}

.boot {
	background-color: #FAEBD7;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-left: 20px;
}

#footerUl li:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

#footerUl li em {
	position: absolute;
}

#footerUl li:nth-child(1) em {
	margin-left: 10px;
	font-size: 2.2em;
}

#footerUl li:nth-child(2) em {
	margin-left: 8px;
	margin-top: 8px;
	font-size: 1.6em;
	transform: rotateZ(90deg);
}

#footerUl li:nth-child(3) em {
	margin-left: 12px;
	font-size: 2.2em;
}

.last,
.next {
	color: #C10D0C;
	font-weight: bold;
}

.pause {
	font-weight: bold;
	color: #C10D0C;
	letter-spacing: 5px;
}
#volum {
	margin-left: 10px;
}
#volum span {
	margin-top: 20px;
	margin-right: 3px;
}
#curbar::before{
	content: attr(bar-content-before);
	display: inline-block;
	float: left;
	margin-top: 23px;
	margin-left: 20px;
}
#curbar::after{
	content: attr(bar-content-after);
	display: inline-block;
	float: left;
	margin-top: 23px;	
}
#volumbar,#bar{
	float: left;
	border-radius: 5px;
	height: 5px;
}
#bar{
	width: 300px;
	margin: 28px 5px 0 5px;
}
#volumbar{
	width: 100px;
	margin-top: 28px;
}
.volumOff{
	cursor: pointer;
}
.sel {
	float: left;
	position: relative;
	text-align: center;
	color: #999;
	width: 80px;
	height: 25px;
	margin-left: 10px;
	top: 8px;
	background-color: rgba(0, 0, 0, 0.4);
}
.sel p{
	font-size: 15px;
	margin-top: 2px;
}
.sel span {
	display: inline-block;
	font-size: 0.5em;
	transform: rotateZ(180deg);
	color: #ccc;
	transition: all 0.2s linear;
}
.sel>p:hover span {
	transform: rotateZ(00deg);
}
.words{
	opacity: 0.5;
}
#songList{
	position: fixed;
	width: 200px;
	height: 240px;
	background-color: rgba(0,0,0,0.4);
	border: 1px solid gray;
	right: 0;
	display: none;
	bottom: 60px;
}
.curList,.hisList{
	display: inline-block;
	color: #666;
	height: 26px;
	width: 100px;
	text-align: center;
	background-color: #EEEEEE;
	border-radius: 26px;
	margin-top: 10px;
	position: absolute;
	border: 1px solid #555;
	cursor: pointer;
	z-index: 2;
}
.curList{
	left: 6px;
}
.hisList{
	right: 6px;
}
#listBox{
	margin-top: 20px;
	padding: 20px;
}
.listCtr,.listCtr2{
	color: #fff;
	font-size: 0.9em;
	margin-bottom: 10px;
}
.listCtr::after,.listCtr2::after{
	content: "";
	display: block;
	clear: both;
}
.listCtr li:nth-child(2):hover,.listCtr2 li:nth-child(2):hover{
	color: #C10D0C;
	cursor: pointer;
}
.listCtr2,.hisongs{
	display: none;
}
.songs,.hisongs{
	color: #ddd;
	height: 160px;
	overflow: auto;
}
.songs li:hover,.hisongs li:hover{
	color: #fff;
	cursor: pointer;
}
.songs li,.hisongs li{
	padding: 5px 0;
}
.songs li em,.hisongs li em{
	position: absolute;
	right: 20px;
} 
#login{
	width: 250px;
	height: 220px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: !important;
	box-shadow: 0 0 5px #aaa;
	background-color: #fff;
	display: none;
}
#login em{
	position: absolute;
	right: 8px;
	cursor: pointer;
	font-size: 1.4em;
}
#login em:hover{
	color: #C10D0C;
}
.btn1,.btn2{
	width: 160px;
	height: 30px;
	border-radius: 3px;
	outline: none;
	border: 1px solid gray;
	margin-left: 40px;
	padding-left: 5px;
	color: #333;
}
.btn1{
	margin-top: 50px;
}
#login button{
	width: 140px;
	height: 30px;
	background-color: #C10D0C;
	border: 1px solid #ccc;
	outline: none;
	color: #fff;
	margin-left: 55px;
	margin-top: 10px;
	cursor: pointer;
}
.remem{
	margin-top: 10px;
	margin-left: 140px;
	height: 10px;
}
#login span{
	font-size: 0.8em;
	color: #666;
	margin-left: 2px;
	
}
#zhuomian{
	position: absolute;
	width: 1000px;
	height: 60px;
	margin-left: -500px;
	line-height: 60px;
	left: 50%;
	top: 50%;
	margin-top: 310px;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	display: none;
	color: #C10D0C;
}
#colorPicker{
	height: 300px;
	width: 500px;
	display: none;
	position: fixed;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
}